.container{
    background-image: url('/images/h_img.jpg');
     background-size: cover;
     background-repeat: no-repeat;
    color: white;
    text-align: center;
   
}
img{
    margin-top: 100px;
    margin-bottom: 30px;
}
/* Styling the about section*/
.about{
    text-align: center;
    margin-top: 0px;
    
}
 /* styling the service section */
.services{
    text-align: center;
    color: white;
    background-image: url('/images/s_image.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    height: 350px;
}
#services{
    padding-top: 100px;
}
/* Styling what we do section */
.job{
    display: flex;
    justify-content: space-between;
}
#header{
    text-align: center;
    padding-top: 20px;
}
.design{
    padding-left: 80px;
}
h4{
    font-size: medium;
    padding-top: 0px;
    margin-top: 0px;
}
.management{
    padding-right: 20px;
}
/* Styling the portfolio */
.portfolio{
    text-align: center;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;

} 
#one{
    text-align: center;
}