 *{
    font-family: 'Estonia', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sail', cursive;
    text-align: center;
 }
.container{
    background-image: url('../images/h_img.jpg');
    background-size: cover;
    color: white;
    line-height: 50px;
    padding-top: 15%;
    font-size: larger;
   
   
}
img{
    margin-top: 100px;
    margin-bottom: 30px;
}
/* Styling the about section*/
.about{
    text-align: center;
    /* margin-top: 6%; */
    
}
.about h1{
    margin-top: 5%;
}
 /* styling the service section */
.services{
    text-align: center;
    color: white;
    background-image: url('../images/s_image.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    height: 350px;
    margin-top: 5%;
}
#services{
    padding-top: 100px;
}
/* Styling what we do section */
.job{
    margin-top: -5%;
    display: flex;
    justify-content: space-around;
}
#header{
    text-align: center;
      margin-top: 5%;
}
.images{
    display: flex;
    justify-content: space-around;
}
.headers{
    display: flex;
    justify-content: space-around;
}
.paragraphs{
    display: flex;
    justify-content: space-around;
}
h4{
    font-weight: bold;
    text-align: center;
}
.design{
  text-align: center;
}
.development{
  text-align: center;
}
.management{
  text-align: center;
}
#span{
    margin-top: -20px;
    font-weight: bold;
    text-align: center;
}
#span1{
    margin-top: -20px;
    font-weight: bold;
    text-align: center;
}
#span2{
    margin-top: -20px;
    font-weight: bold;
    text-align: center;
}
#design{
    display: none;
    text-align: center;
   
}
#development{
    display: none;
    text-align: center;
}
#management{
    display: none;
    text-align: center;

}
/* Styling the portfolio */
h2{
    text-align: center;
    margin-top: 5%;
}
.class1{
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: -5%;
}
.class2{
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: -5%;
}
#ten{
    display: none;
    transform: translate(0px,-120px);
    color: white;
    border: 2px solid white;
   
}
#eleven{
    display: none;
    transform: translate(0px,-120px);
    /* color: blue; */
    border: 2px solid white;
}
#twelve{
    display: none;
    transform: translate(0px,-120px);
    /* color: white; */
    border: 2px solid white;
}
#thirteen{
    display: none;
    transform: translate(0px,-120px);
    color: white;
    border: 2px solid white;
}
#fourteen{
    display: none;
    transform: translate(0px,-120px);
    /* color: white; */
    border: 2px solid white;
}
#fifteen{
    display: none;
    transform: translate(0px,-120px);
    /* color: white; */
    border: 2px solid white;
}
#sixteen{
    display: none;
    transform: translate(0px,-120px);
    color: white;
    border: 2px solid white;
}
#seventeen{
    display: none;
    transform: translate(0px,-120px);
    color: white;
    border: 2px solid white;
}

/*       contact Us Section */
.container-cont{
    background-image: url('../images/c_image.jpg');
    color: white;
    
}
#contactUs{
    padding-top: 5%;
}
#contactUs h3{
    color: white;
}
/* Footer */
input[type="text"],
input[type="email"],
input[type="submit"],
#message {
    background-color: transparent;
    margin-bottom: 15px;
}
::placeholder{
    color: white;
    font-size: larger;
}